body {
    background-image: url(/assets/images/bg.jpg);
    margin: 0;
    padding: 0;
}
#title {
    color:orange;
    font-family: 'Komika Sketch', arial;
    font-size: 50px;
    text-align: center; 
}
p {
    line-height: 2em;
color:gold;
font-size: 20px;
margin-left: 100px;
}

#wow {
    height: 250px;
}
#dofus{height:300px ;}
article div {
    display: flex;
}
#dofus{
    height: 250px;
}
a {
    color: gold;
}
a:hover {
    color: white;
}

#pphoto {
    display: flex;
    justify-content: flex-end;
}

#porigine {
    background:linear-gradient(90deg, rgba(169, 143, 13, 0.382) 39%, rgba(255, 0, 0, 0.225) 100%);
    border-radius: 25px;

}
main{
    font-family: 'Mouth Breather BB', arial;
}
.st{
    font-size: 30px;
    color: orange;
    
}


.title{
    color: red;
    font-size: 60px;
    
}
