@media screen and (max-width:992px) {
#first{
display: flex;
flex-direction: column;
align-items: center;
}
#first_manga{
  height: 300px;
width: 400px;
}
#title2{
    display: flex;

}
#divjosei{
    display: flex;

flex-wrap: wrap;
}
.imgjosei{
    height: 200px;
width: 150px;
}
#imgshojo{
    height: 150px;
    width: 150px;
}
.grid span {
    font-size: 80px;
}
}

@media screen and (max-width:576px) {
    #first_manga{
        height: 200px;
      width: 200px;
      }
      #divjosei{
        display: flex;
    
    flex-wrap: wrap;
    }
    .imgjosei{
        height: 150px;
    width: 125px;
    }
    }