body {
    margin: 0;
    padding: 0;
background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    color: white;
}
#title {
    color: rgb(255, 255, 255);
    font-family: 'Komika Sketch', arial;
    font-size: 30px;
    text-align: center;
}

p {
    line-height: 2em;
}

#first_manga {
    height: 200px;
}

article div {
    display: flex;
}

a {
    color: white;
}

a:hover {
    color: red;
}

#pphoto {
    display: flex;
    justify-content: flex-end;
}

#porigine {
    color: rgb(0, 0, 0);
}
main{
    font-family: 'Mouth Breather BB', arial;
}

