@font-face {
    font-family: 'manga';
    font-style: normal;
    font-weight: 400;
    src:
        url(/assets/manga.ttf);
}
body{
    background-color: rgb(54, 55, 75);
}
.galerie{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    margin: 70px auto 30px;
    max-width: 1300px;
}
.selection{
    background-color:rgba(0, 0, 0, 0.261);
    border-radius: 30px;
    height: 300px;
    width:300px;
    margin:10px;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 50px;

}
.selection a{
    text-decoration: none;
    color:black;
}
#manga_selection{
    background-image: url(/assets/images/article_onepiece.jpg);
    font-family: 'manga',arial;
}
#selection{
    font-size: 2em;
    color: white;
    margin-top: 50px;
    text-align: center;
}