body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
}
#nav_bar{
display: flex;
box-sizing: border-box;
justify-content: space-between;
width: 100%;
align-items: center;
}
#nav_links ul li a{
    display: flex;
    margin: 0 25px;
}
#nav_bar a{
    color: white;
    text-decoration: none;
}
#nav_bar ul{
    list-style-type: none;
}
#nav_bar #logo{
    padding-left: 10px;
    font-size: 2em;
    font-weight: bold;
}
#nav_bar #nav_links ul{
    display: flex;
}
#active a{
    color:rgb(243, 89, 89);
    font-weight: 600;
}
.menu_btn{
    height: 35px;
    position: absolute;
    top:30px;
    right: 30px;
    display: none;
}
