@font-face {
    font-family: 'manga';
    font-style: normal;
    font-weight: 400;
    src:
        url(../../manga.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/bg.jpg);
}
.galerie{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    margin: 70px auto 30px;
    max-width: 1300px;
}
.selection{
    background-color: rgba(255, 0, 0, 0.248);
    border-radius: 5px;
    height: 200px;
    width:300px;
    margin:10px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;

}
.selection a{
    text-decoration: none;
    color:black;
}
#manga_selection{
    background-image: url(/assets/images/scan_one_piece/scan_681/01.jpg);
    font-family: 'manga', arial;
    font-weight: 900;
    
}
#selection{
    font-size: 2em;
    color: white;
    margin-top: 50px;
    text-align: center;
}